# Java / Maven
backend/target/
!backend/.mvn/wrapper/maven-wrapper.jar

# Node / Next
frontend/node_modules/
frontend/.next/

# IDE
.idea/
*.iml
.vscode/

# SO
.DS_Store
Thumbs.db

# Config local sensível
application-local.properties
.env
.env.local